// Css Variables
:root {
	
}

// Scss Variables
$color-background-primary: #FFFFFF;
$color-background-secondary: #F6F5F7;
$color-background-tertiary: #EEEEEE;

$color-brand-primary: #41B19B;
$color-brand-secondary: #40A7AD;

$color-content-primary: #333333;
$color-content-primary-light: #FFFFFF;
$color-content-secondary: #444444;
$color-content-tertiary: #E6E6E6;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden !important;
	-webkit-font-smoothing: antialiased;
}

.noty_body {
	font-family: 'Montserrat', sans-serif;
}