<!DOCTYPE html>
<html>
	<meta name="viewport" content="minimal-ui width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="theme-color" content="#000000" />
	<head>
		<title>Firefiles</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
		<link rel="stylesheet" href="/lib/@fortawesome/fontawesome-free/css/all.min.css" />
		<link rel="stylesheet" href="/public/styles/style.css">
	</head>
	<body>
		<marquee><a href="#login" style="font-size: 30px;">LOGIN</a></marquee>
	</body>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/@fortawesome/fontawesome-free/js/all.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<script src="/public/scripts/dashboard.js"></script>
</html>