<!DOCTYPE html>
<html>
	<meta name="viewport" content="minimal-ui width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="theme-color" content="#000000" />
	<head>
		<title>Firefiles</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
		<link rel="stylesheet" href="/lib/@fortawesome/fontawesome-free/css/all.min.css" />
		<link rel="stylesheet" href="/public/styles/style.css">
	</head>
	<body>
		<marquee><a href="#login" style="font-size: 30px;">LOGIN</a></marquee>
		<div class="loginPage">
			<div class="mainContainer" id='mainContainer'>
				<div class="formContainer signUpContainer">
					<h1 class="formHeader">Create Account</h1>
					<div class="socialContainer">
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<span>or use your email for registration</span>
					<input id="nameSignUp" type="text" placeholder="Name" />
					<input id="emailSignUp" type="email" placeholder="Email" />
					<input id="passwordSignUp" type="password" placeholder="Password" />
					<button class="signButton" id="signUp">Sign Up</button>
				</div>
				<div class="formContainer signInContainer">
					<h1 class="formHeader">Sign in to Firefiles</h1>
					<div class="socialContainer">
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<span>or use your account</span>
					<input id="emailLogin" type="email" placeholder="Email" />
					<input id="passwordLogin" type="password" placeholder="Password" />
					<a href="#">Forgot your password?</a>
					<button class="signButton" id="signIn">Sign In</button>
				</div>
				<div class="overlayContainer">
					<div class="overlay">
						<div class="overlayPanel overlayLeft">
							<h1>Welcome Back!</h1>
							<p>To keep connected with us please login with your personal info</p>
						</div>
						<div class="overlayPanel overlayRight">
							<h1>Hello, Friend!</h1>
							<p>Enter your personal details and start journey with us</p>
						</div>
					</div>
					<button class="signButton slide">
						<p>Sign up</p>
						<p>Sign in</p>
					</button>
				</div>
			</div>
		</div>
	</body>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/@fortawesome/fontawesome-free/js/all.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
	<script src="/public/scripts/homepage.js"></script>
</html>