<!DOCTYPE html>
<html>
	<meta name="viewport" content="minimal-ui width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="theme-color" content="#000000" />
	<head>
		<title>Resume Store</title>
		<link rel="stylesheet" href="/public/styles/style.css">
	</head>
	<body>
		<div class="loginPage">
			<h2>Please login</h2>
			<div class="mainContainer" id='mainContainer'>
				<div class="formContainer signUpContainer">
					<form action="#">
						<h1>Create Account</h1>
						<div class="socialContainer">
							<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
							<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
						</div>
						<span>or use your email for registration</span>
						<input type="text" placeholder="Name" />
						<input type="email" placeholder="Email" />
						<input type="password" placeholder="Password" />
						<button id="signUp">Sign Up</button>
					</form>
				</div>
				<div class="formContainer signInContainer">
					<form action="#">
						<h1>Sign in</h1>
						<div class="socialContainer">
							<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
							<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
							<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
						</div>
						<span>or use your account</span>
						<input type="email" placeholder="Email" />
						<input type="password" placeholder="Password" />
						<a href="#">Forgot your password?</a>
						<button id="signIn">Sign In</button>
					</form>
				</div>
				<div class="overlayContainer">
					<div class="overlay">
						<div class="overlayPanel overlayLeft">
							<h1>Welcome Back!</h1>
							<p>To keep connected with us please login with your personal info</p>
							<button class="ghost" id="signInPage">Sign In</button>
						</div>
						<div class="overlayPanel overlayRight">
							<h1>Hello, Friend!</h1>
							<p>Enter your personal details and start journey with us</p>
							<button class="ghost" id="signUpPage">Sign Up</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/public/scripts/loginPage.js"></script>
</html>